{% extends 'layouts/base.html' %} {% load crispy_forms_tags %} {% block content %}
<title>{% block title %}Login page{% endblock title %}</title>
<style>
    .form-div {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
    }
</style>
<div class="form-div">
    <form method="post" class="w-50 mx-auto">
      <h2 class="text-center">Login</h2>
    {% csrf_token %} 
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary w-100">Login</button>
  </form>
</div>
{% endblock content %}
