{% extends 'layouts/base.html' %} {% load crispy_forms_tags %} {% block content %}
<title>{% block title %}Login page{% endblock title %}</title>
<style>
  .form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }
</style>
<div class="center-block form-div" id="login">
  <form class="form-horizontal form" name="LoginForm" method="post" style="width: 70%;">
    {% csrf_token %} {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <div class="control-group">
      <label class="control-label" for="username">Username</label>
      <div class="controls">
        <input
          class="form-control"
          type="text"
          id="username"
          name="username"
          placeholder="Username"
        />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input
          class="form-control mb-2"
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
      </div>
      <a class="text-decoration-none" href="#">Forget your password</a>
    </div>
    <br />
    <div class="control-group">
      <div class="controls mx-auto">
        <button type="submit" class="btn btn-success ml-3" style="width: 45%;">Login</button
        ><a class="btn btn-primary ml-3" href="{% url 'register' %}" style="width: 45%;">sign up</a>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
