{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<title>{% block title %}password reset page{% endblock title %}</title>
<style>
  .form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }
</style>
<div class="center-block form-div" id="login">
  <form class="form-horizontal form" name="LoginForm" method="post" style="width: 70%;">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary link d-block mb-1">Update password</button>
  </form>
</div>
{% endblock content %}
