{% extends 'layouts/base.html' %} {% block content %}
<style>
  body {
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
    min-height: 100vh;
  }

  .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }

  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
</style>
<title>{% block title %}Candidates{% endblock title %}</title>

<!-- For demo purpose -->
<div class="container py-5">
  <div class="row text-center text-white">
    <div class="col-lg-8 mx-auto">
      <h1 class="display-4">Candidate Page</h1>
      <p class="lead mb-0">
        Every we accept different kind of countries of students
      </p>
      <p class="lead">My candidate lists</p>
    </div>
  </div>
</div>
<!-- End -->

<div class="container">
  <div class="row text-center">
    <!-- Team item -->
    <div class="col-xl-3 col-sm-6 mb-5">
      <div class="bg-white rounded shadow-sm py-5 px-4">
        <img
          src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg"
          alt=""
          width="100"
          class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
        />
        {% for candidate in candid %}
        <h5 class="mb-0">
          <a class="name" href="{% url 'candidate:details' candidate.pk %}"
            >{{ candidate.name }}</a
          >
        </h5>
        <span class="small text-uppercase text-muted">{{ candidate.job }}</span>
        {% endfor %}
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <!-- End here -->

    {% if unassigned_candidates.exists %}
    <div class="col-xl-3 col-sm-6 mb-5">
      <div class="bg-white rounded shadow-sm py-5 px-4">
        <img
        src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg"
        alt=""
        width="100"
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
        />
        {% for can in unassigned_candidates %}
        <h5 class="mb-0">
          <a class="name" href="{% url 'candidate:details' can.pk %}"
            >{{ can.name }}</a
          >
        </h5>
        <span class="small text-uppercase text-muted">{{ can.job }}</span>
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <!-- End -->
  </div>
</div>

{% endblock content %}
