{% extends 'layouts/base.html' %} {% block content %}
<style>
  body {
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
    min-height: 100vh;
  }
  .work {
    padding: 30px;
    background-color: #ddd;
    margin-top: 10px;
  }

  .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }

  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
</style>
<title>{% block title %}Candidates{% endblock title %}</title>

<!-- For demo purpose -->
<div class="container py-5">
  <div class="row text-center text-white">
    <div class="col-lg-8 mx-auto">
      <h1 class="display-4">Candidate Page</h1>
      <p class="lead mb-0">
        Every we accept different kind of countries of students
      </p>
      <p class="lead">My candidate lists</p>
    </div>
  </div>
</div>
<!-- End -->

<div class="container">
  {% for candidate in candid %}
   <div class="d-block work">
    {{ candidate.name }}
    <a class="d-block" href="{% url 'candidate:details' candidate.pk %}">Details</a>
    <a class="d-block" href="{% url 'candidate:update' candidate.pk %}">Update</a>
   </div>
  {% endfor %}
</div>

{% if unassigned_candidates.exists %}
<h1 class="p-4">Unassigned Users</h1>
<div class="container">
  {% for candidate in unassigned_candidates %}
   <div class="d-block work">
    {{ candidate.name }}
    <a class="d-block" href="{% url 'candidate:assign_agent' candidate.pk %}">Details</a>
   </div>
  {% endfor %}
</div>
{% endif %}

{% endblock content %}
